@charset "UTF-8";
    /*
     em html é id = em css é # (jQuery também usa #)
        em html é class = em css é . (jQuery também usa .)
    */

body {
    background-color: #FAF0CA;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    color: #0D3B66;
}
#principal {
    text-align: center;
    background-color: #F4D35E;
    color: #0D3B66;
}
h2 {
    color: #EE964B;
}
.basico {
    color: #EE964B;
}
.intermediario {
    color: #9c5f2a;
}
.avancado {
    color: #46290f;
}
.destaque {
    background-color: #b6828285;
}